repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.0
    hooks:
      - id: nbqa-black
        args: ["--line-length=88"]
        additional_dependencies: [black]
      - id: nbqa-isort
        additional_dependencies: [isort]
      - id: nbqa-flake8
        additional_dependencies: [flake8]
